In [2]:
#Import required packages
import pandas as pd
import numpy as np 
from datetime import datetime

### Import Data

In [3]:
#Import data from csv & save to df
data_df = pd.read_csv("canine_cushings_disease_raw.csv")

#Check df
data_df

,PatientID,BirthDate,IsNeutered,SexSource,BreedVeNomID,SourceBreed,Case_1,Date first suspected_2,Date confirmed_3,Date ruled out_4,...,Proteinuria_22,Heart rate_23,Temperature_24,ALKP level_28,USG level_29,Hospitalised,Hypertensive,Insulin,Hypothyroid,Cruciate
0,1,17/02/2003 0:00,True,Male,15009,Jack Russell Terrier,1,23/12/2015 0:00,2/01/2016 0:00,NaN,...,Yes,NaN,NaN,NaN,NaN,No,No,No,No,No
1,2,20/11/2003 0:00,True,Female - Neutered,13714,Bichon Frise,1,21/12/2015 0:00,4/01/2016 0:00,NaN,...,Yes,NaN,39.2,979.0,1.008,No,No,No,No,No
2,3,1/01/2003 0:00,True,Female - Neutered,15086,West Highland White Terrier,1,5/01/2016 0:00,7/01/2016 0:00,NaN,...,Yes,NaN,NaN,536.0,1.022,No,No,No,No,No
3,4,1/03/2003 0:00,True,Female - Neutered,14846,Cocker Spaniel,1,30/12/2015 0:00,7/01/2016 0:00,NaN,...,Unknown,120.0,39.2,NaN,NaN,Yes,No,No,No,No
4,5,29/12/2006 0:00,False,Female,Crossbreed,Crossbreed,1,5/01/2016 0:00,9/01/2016 0:00,NaN,...,Yes,96.0,37.4,NaN,1.010,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,1157,15/05/2003 0:00,True,Female,Crossbreed,Crossbreed,0,22/05/2018 23:00,NaN,28/05/2018 23:00,...,Yes,110.0,NaN,1044.0,1.015,No,No,No,No,No
1157,1158,4/10/2011 0:00,True,Female,14962,Border Terrier,0,6/05/2018 23:00,NaN,29/05/2018 23:00,...,Unknown,NaN,NaN,NaN,NaN,Yes,No,No,No,No
1158,1159,21/11/2004 0:00,True,Female - Neutered,15076,Staffordshire Bull Terrier,0,3/10/2017 23:00,NaN,29/05/2018 23:00,...,Yes,NaN,NaN,NaN,NaN,No,No,No,No,No
1159,1160,1/03/2003 0:00,True,Female - Neutered,15086,West Highland White Terrier,0,9/03/2018 0:00,NaN,25/06/2018 23:00,...,Unknown,NaN,NaN,2000.0,NaN,No,No,No,No,No
1160,1161,1/06/2004 0:00,True,Female - Neutered,Crossbreed,Crossbreed,0,12/07/2018 23:00,NaN,27/07/2018 23:00,...,Yes,NaN,NaN,NaN,1.015,No,No,No,No,No

In [4]:
#Check df parameters
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1161 entries, 0 to 1160
Data columns (total 38 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PatientID                   1161 non-null   int64
 1   BirthDate                   1161 non-null   object
 2   IsNeutered                  1161 non-null   bool
 3   SexSource                   1161 non-null   object
 4   BreedVeNomID                1148 non-null   object
 5   SourceBreed                 1161 non-null   object
 6   Case_1                      1161 non-null   int64
 7   Date first suspected_2      1161 non-null   object
 8   Date confirmed_3            580 non-null    object
 9   Date ruled out_4            581 non-null    object
 10  Weight at suspected         1034 non-null   float64
 11  Polydipsia mentioned_5      1161 non-null   object
 12  Polyuria mentioned_6        1161 non-null   object
 13  Polyphagia_7                1161 non-null   object
 14  Vomiting_8                  1161 non-null   object
 15  Diarrhoea_9                 1161 non-null   object
 16  Potbelly/hepatomegaly_10    1161 non-null   object
 17  Weight_11                   1161 non-null   object
 18  Thin/dry skin_12            1161 non-null   object
 19  Alopecia_13                 1161 non-null   object
 20  Pruritus_14                 1161 non-null   object
 21  Muscle wastage/weakness_15  1161 non-null   object
 22  Lethargy_16                 1161 non-null   object
 23  Panting_17                  1161 non-null   object
 24  Neurological signs_18       1161 non-null   object
 25  Increased ALKP_19           1161 non-null   object
 26  Increased ALT/GGT/AST_20    1161 non-null   object
 27  USG <1.20_21                1161 non-null   object
 28  Proteinuria_22              1161 non-null   object
 29  Heart rate_23               415 non-null    float64
 30  Temperature_24              342 non-null    float64
 31  ALKP level_28               366 non-null    float64
 32  USG level_29                438 non-null    float64
 33  Hospitalised                1161 non-null   object
 34  Hypertensive                1161 non-null   object
 35  Insulin                     1161 non-null   object
 36  Hypothyroid                 1161 non-null   object
 37  Cruciate                    1161 non-null   object
dtypes: bool(1), float64(5), int64(2), object(30)
memory usage: 336.9+ KB

### Clean Table (Columns & Rows)

In [5]:
#Set PatientID as index
data_df.index = data_df['PatientID']

#Remove PatientID column
del data_df['PatientID']

#Check df
data_df.head()

,BirthDate,IsNeutered,SexSource,BreedVeNomID,SourceBreed,Case_1,Date first suspected_2,Date confirmed_3,Date ruled out_4,Weight at suspected,...,Proteinuria_22,Heart rate_23,Temperature_24,ALKP level_28,USG level_29,Hospitalised,Hypertensive,Insulin,Hypothyroid,Cruciate
PatientID,,,,,,,,,,,,,,,,,,,,,
1,17/02/2003 0:00,True,Male,15009,Jack Russell Terrier,1,23/12/2015 0:00,2/01/2016 0:00,NaN,13.00,...,Yes,NaN,NaN,NaN,NaN,No,No,No,No,No
2,20/11/2003 0:00,True,Female - Neutered,13714,Bichon Frise,1,21/12/2015 0:00,4/01/2016 0:00,NaN,9.30,...,Yes,NaN,39.2,979.0,1.008,No,No,No,No,No
3,1/01/2003 0:00,True,Female - Neutered,15086,West Highland White Terrier,1,5/01/2016 0:00,7/01/2016 0:00,NaN,9.82,...,Yes,NaN,NaN,536.0,1.022,No,No,No,No,No
4,1/03/2003 0:00,True,Female - Neutered,14846,Cocker Spaniel,1,30/12/2015 0:00,7/01/2016 0:00,NaN,11.30,...,Unknown,120.0,39.2,NaN,NaN,Yes,No,No,No,No
5,29/12/2006 0:00,False,Female,Crossbreed,Crossbreed,1,5/01/2016 0:00,9/01/2016 0:00,NaN,9.30,...,Yes,96.0,37.4,NaN,1.010,No,No,No,No,No

In [6]:
#Check data types per column
data_df.dtypes

BirthDate                      object
IsNeutered                       bool
SexSource                      object
BreedVeNomID                   object
SourceBreed                    object
Case_1                          int64
Date first suspected_2         object
Date confirmed_3               object
Date ruled out_4               object
Weight at suspected           float64
Polydipsia mentioned_5         object
Polyuria mentioned_6           object
Polyphagia_7                   object
Vomiting_8                     object
Diarrhoea_9                    object
Potbelly/hepatomegaly_10       object
Weight_11                      object
Thin/dry skin_12               object
Alopecia_13                    object
Pruritus_14                    object
Muscle wastage/weakness_15     object
Lethargy_16                    object
Panting_17                     object
Neurological signs_18          object
Increased ALKP_19              object
Increased ALT/GGT/AST_20       object
USG <1.20_21                   object
Proteinuria_22                 object
Heart rate_23                 float64
Temperature_24                float64
ALKP level_28                 float64
USG level_29                  float64
Hospitalised                   object
Hypertensive                   object
Insulin                        object
Hypothyroid                    object
Cruciate                       object
dtype: object

### Age

In [7]:
#Change BirthDate to datetime
data_df['BirthDate'] = pd.to_datetime(data_df['BirthDate']).dt.strftime('%Y-%m-%d')

#Change Date first suspected_2 to datetime
data_df['Date first suspected_2'] = pd.to_datetime(data_df['Date first suspected_2']).dt.strftime('%Y-%m-%d')

#Check changes have applied
data_df.head()

,BirthDate,IsNeutered,SexSource,BreedVeNomID,SourceBreed,Case_1,Date first suspected_2,Date confirmed_3,Date ruled out_4,Weight at suspected,...,Proteinuria_22,Heart rate_23,Temperature_24,ALKP level_28,USG level_29,Hospitalised,Hypertensive,Insulin,Hypothyroid,Cruciate
PatientID,,,,,,,,,,,,,,,,,,,,,
1,2003-02-17,True,Male,15009,Jack Russell Terrier,1,2015-12-23,2/01/2016 0:00,NaN,13.00,...,Yes,NaN,NaN,NaN,NaN,No,No,No,No,No
2,2003-11-20,True,Female - Neutered,13714,Bichon Frise,1,2015-12-21,4/01/2016 0:00,NaN,9.30,...,Yes,NaN,39.2,979.0,1.008,No,No,No,No,No
3,2003-01-01,True,Female - Neutered,15086,West Highland White Terrier,1,2016-05-01,7/01/2016 0:00,NaN,9.82,...,Yes,NaN,NaN,536.0,1.022,No,No,No,No,No
4,2003-01-03,True,Female - Neutered,14846,Cocker Spaniel,1,2015-12-30,7/01/2016 0:00,NaN,11.30,...,Unknown,120.0,39.2,NaN,NaN,Yes,No,No,No,No
5,2006-12-29,False,Female,Crossbreed,Crossbreed,1,2016-05-01,9/01/2016 0:00,NaN,9.30,...,Yes,96.0,37.4,NaN,1.010,No,No,No,No,No

In [8]:
#Define calculate_age function
def calculate_age(date_str1, date_str2):
    date_format = "%Y-%m-%d"
    date1 = datetime.strptime(date_str1, date_format)
    date2 = datetime.strptime(date_str2, date_format)
    age_in_days = (date2 - date1).days
    age_in_years = age_in_days // 365
    return age_in_years

#Create list to append to
age_data = []

#Loop through column values
for i in range(len(data_df)):

    # Step 1: Provide the two dates
    date_str1 = data_df.iloc[i, 0] # Replace this with the first date in 'YYYY-MM-DD' format
    date_str2 = data_df.iloc[i, 6]  # Replace this with the second date in 'YYYY-MM-DD' format
    
    # Step 3: Calculate the age
    age = calculate_age(date_str1, date_str2)

    # Step 4: Append to list
    age_data.append(age)

#Add Age column to df
data_df['Age'] = age_data

#Check df
data_df.head()

,BirthDate,IsNeutered,SexSource,BreedVeNomID,SourceBreed,Case_1,Date first suspected_2,Date confirmed_3,Date ruled out_4,Weight at suspected,...,Heart rate_23,Temperature_24,ALKP level_28,USG level_29,Hospitalised,Hypertensive,Insulin,Hypothyroid,Cruciate,Age
PatientID,,,,,,,,,,,,,,,,,,,,,
1,2003-02-17,True,Male,15009,Jack Russell Terrier,1,2015-12-23,2/01/2016 0:00,NaN,13.00,...,NaN,NaN,NaN,NaN,No,No,No,No,No,12
2,2003-11-20,True,Female - Neutered,13714,Bichon Frise,1,2015-12-21,4/01/2016 0:00,NaN,9.30,...,NaN,39.2,979.0,1.008,No,No,No,No,No,12
3,2003-01-01,True,Female - Neutered,15086,West Highland White Terrier,1,2016-05-01,7/01/2016 0:00,NaN,9.82,...,NaN,NaN,536.0,1.022,No,No,No,No,No,13
4,2003-01-03,True,Female - Neutered,14846,Cocker Spaniel,1,2015-12-30,7/01/2016 0:00,NaN,11.30,...,120.0,39.2,NaN,NaN,Yes,No,No,No,No,12
5,2006-12-29,False,Female,Crossbreed,Crossbreed,1,2016-05-01,9/01/2016 0:00,NaN,9.30,...,96.0,37.4,NaN,1.010,No,No,No,No,No,9

### Sex Column

In [9]:
#Create list to append to
sex_data = []

#Loop through column values
for i in range(len(data_df)):

    #Step 1: Save SexSource value
    sex = data_df.iloc[i, 2]

    #Step 2: Split first character and save
    sex_initial = sex[0]
    
    #Step 3: Append to list
    sex_data.append(sex_initial)

#Create Sex column
data_df['Sex'] = sex_data

#Check df
data_df.head()

,BirthDate,IsNeutered,SexSource,BreedVeNomID,SourceBreed,Case_1,Date first suspected_2,Date confirmed_3,Date ruled out_4,Weight at suspected,...,Temperature_24,ALKP level_28,USG level_29,Hospitalised,Hypertensive,Insulin,Hypothyroid,Cruciate,Age,Sex
PatientID,,,,,,,,,,,,,,,,,,,,,
1,2003-02-17,True,Male,15009,Jack Russell Terrier,1,2015-12-23,2/01/2016 0:00,NaN,13.00,...,NaN,NaN,NaN,No,No,No,No,No,12,M
2,2003-11-20,True,Female - Neutered,13714,Bichon Frise,1,2015-12-21,4/01/2016 0:00,NaN,9.30,...,39.2,979.0,1.008,No,No,No,No,No,12,F
3,2003-01-01,True,Female - Neutered,15086,West Highland White Terrier,1,2016-05-01,7/01/2016 0:00,NaN,9.82,...,NaN,536.0,1.022,No,No,No,No,No,13,F
4,2003-01-03,True,Female - Neutered,14846,Cocker Spaniel,1,2015-12-30,7/01/2016 0:00,NaN,11.30,...,39.2,NaN,NaN,Yes,No,No,No,No,12,F
5,2006-12-29,False,Female,Crossbreed,Crossbreed,1,2016-05-01,9/01/2016 0:00,NaN,9.30,...,37.4,NaN,1.010,No,No,No,No,No,9,F

In [10]:
#Remove unwanted columns
data_df.drop(data_df[['SexSource', 'Date confirmed_3', 'Date ruled out_4', 'BirthDate', 'Date first suspected_2', 'ALKP level_28', 'USG level_29', 'BreedVeNomID']], axis=1, inplace=True)

#Check df
data_df.head()

,IsNeutered,SourceBreed,Case_1,Weight at suspected,Polydipsia mentioned_5,Polyuria mentioned_6,Polyphagia_7,Vomiting_8,Diarrhoea_9,Potbelly/hepatomegaly_10,...,Proteinuria_22,Heart rate_23,Temperature_24,Hospitalised,Hypertensive,Insulin,Hypothyroid,Cruciate,Age,Sex
PatientID,,,,,,,,,,,,,,,,,,,,,
1,True,Jack Russell Terrier,1,13.00,Yes,Yes,No,No,No,No,...,Yes,NaN,NaN,No,No,No,No,No,12,M
2,True,Bichon Frise,1,9.30,Yes,Yes,No,No,No,No,...,Yes,NaN,39.2,No,No,No,No,No,12,F
3,True,West Highland White Terrier,1,9.82,Yes,Yes,Yes,No,No,Yes,...,Yes,NaN,NaN,No,No,No,No,No,13,F
4,True,Cocker Spaniel,1,11.30,Yes,Yes,No,No,No,Yes,...,Unknown,120.0,39.2,Yes,No,No,No,No,12,F
5,False,Crossbreed,1,9.30,Yes,Yes,No,No,Yes,Yes,...,Yes,96.0,37.4,No,No,No,No,No,9,F

### Weight Change

In [11]:
#Summarise Weight Change variable
data_df['Weight_11'].value_counts()

No             908
Weight loss    116
Weight gain    103
No change       34
Name: Weight_11, dtype: int64

In [12]:
#Change 'False' to 'No change'
data_df['Weight_11'] = data_df['Weight_11'].replace('No', "No change")

#Check changes applied
data_df['Weight_11'].value_counts()

No change      942
Weight loss    116
Weight gain    103
Name: Weight_11, dtype: int64

### Breed Binning

In [14]:
# Choose a cutoff value and create a list of source breeds to be replaced
# use the variable name `breeds_to_replace`
# Need to change value counts to list
breed_counts = data_df['SourceBreed'].value_counts()
breeds_to_replace = data_df['SourceBreed'].value_counts()[breed_counts < 15].index.tolist()

# print(application_types_to_replace)
# Replace in dataframe
for breed in breeds_to_replace:
    data_df['SourceBreed'] = data_df['SourceBreed'].replace(breed,"Others")

# Check to make sure binning was successful
data_df['SourceBreed'].value_counts()

Crossbreed                       250
Others                           249
Jack Russell Terrier              94
Staffordshire Bull Terrier        74
Bichon Frise                      70
West Highland White Terrier       63
Labrador Retriever                55
Yorkshire Terrier                 52
Border Terrier                    50
Schnauzer                         41
Cocker Spaniel                    31
Shih Tzu                          26
Cavalier King Charles Spaniel     22
Collie                            21
Boxer                             17
Poodle                            16
Springer Spaniel                  15
Chihuahua                         15
Name: SourceBreed, dtype: int64

### NA Values

In [15]:
#Replace Unknown with NA values
data_df['Increased ALKP_19'] = data_df['Increased ALKP_19'].replace('Unknown', np.nan)
data_df['Increased ALT/GGT/AST_20'] = data_df['Increased ALT/GGT/AST_20'].replace('Unknown', np.nan)
data_df['USG <1.20_21'] = data_df['USG <1.20_21'].replace('Unknown', np.nan)
data_df['Proteinuria_22'] = data_df['Proteinuria_22'].replace('Unknown', np.nan)

#Check df
data_df[['Increased ALKP_19', 'Increased ALT/GGT/AST_20', 'USG <1.20_21', 'Proteinuria_22']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1161 entries, 1 to 1161
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Increased ALKP_19         657 non-null    object
 1   Increased ALT/GGT/AST_20  563 non-null    object
 2   USG <1.20_21              455 non-null    object
 3   Proteinuria_22            416 non-null    object
dtypes: object(4)
memory usage: 45.4+ KB

### Boolean data types

In [16]:
#Replace yes & no values with true and false
data_df = data_df.replace({'Yes': True, 'No': False})

#Check df data types
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1161 entries, 1 to 1161
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   IsNeutered                  1161 non-null   bool
 1   SourceBreed                 1161 non-null   object
 2   Case_1                      1161 non-null   int64
 3   Weight at suspected         1034 non-null   float64
 4   Polydipsia mentioned_5      1161 non-null   bool
 5   Polyuria mentioned_6        1161 non-null   bool
 6   Polyphagia_7                1161 non-null   bool
 7   Vomiting_8                  1161 non-null   bool
 8   Diarrhoea_9                 1161 non-null   bool
 9   Potbelly/hepatomegaly_10    1161 non-null   bool
 10  Weight_11                   1161 non-null   object
 11  Thin/dry skin_12            1161 non-null   bool
 12  Alopecia_13                 1161 non-null   bool
 13  Pruritus_14                 1161 non-null   bool
 14  Muscle wastage/weakness_15  1161 non-null   bool
 15  Lethargy_16                 1161 non-null   bool
 16  Panting_17                  1161 non-null   bool
 17  Neurological signs_18       1161 non-null   bool
 18  Increased ALKP_19           657 non-null    object
 19  Increased ALT/GGT/AST_20    563 non-null    object
 20  USG <1.20_21                455 non-null    object
 21  Proteinuria_22              416 non-null    object
 22  Heart rate_23               415 non-null    float64
 23  Temperature_24              342 non-null    float64
 24  Hospitalised                1161 non-null   bool
 25  Hypertensive                1161 non-null   bool
 26  Insulin                     1161 non-null   bool
 27  Hypothyroid                 1161 non-null   bool
 28  Cruciate                    1161 non-null   bool
 29  Age                         1161 non-null   int64
 30  Sex                         1161 non-null   object
dtypes: bool(19), float64(3), int64(2), object(7)
memory usage: 139.5+ KB

### Object data types

In [17]:
#Change Case_1 to object data type
data_df['Case_1'] = data_df['Case_1'].astype(object)

#Check df
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1161 entries, 1 to 1161
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   IsNeutered                  1161 non-null   bool
 1   SourceBreed                 1161 non-null   object
 2   Case_1                      1161 non-null   object
 3   Weight at suspected         1034 non-null   float64
 4   Polydipsia mentioned_5      1161 non-null   bool
 5   Polyuria mentioned_6        1161 non-null   bool
 6   Polyphagia_7                1161 non-null   bool
 7   Vomiting_8                  1161 non-null   bool
 8   Diarrhoea_9                 1161 non-null   bool
 9   Potbelly/hepatomegaly_10    1161 non-null   bool
 10  Weight_11                   1161 non-null   object
 11  Thin/dry skin_12            1161 non-null   bool
 12  Alopecia_13                 1161 non-null   bool
 13  Pruritus_14                 1161 non-null   bool
 14  Muscle wastage/weakness_15  1161 non-null   bool
 15  Lethargy_16                 1161 non-null   bool
 16  Panting_17                  1161 non-null   bool
 17  Neurological signs_18       1161 non-null   bool
 18  Increased ALKP_19           657 non-null    object
 19  Increased ALT/GGT/AST_20    563 non-null    object
 20  USG <1.20_21                455 non-null    object
 21  Proteinuria_22              416 non-null    object
 22  Heart rate_23               415 non-null    float64
 23  Temperature_24              342 non-null    float64
 24  Hospitalised                1161 non-null   bool
 25  Hypertensive                1161 non-null   bool
 26  Insulin                     1161 non-null   bool
 27  Hypothyroid                 1161 non-null   bool
 28  Cruciate                    1161 non-null   bool
 29  Age                         1161 non-null   int64
 30  Sex                         1161 non-null   object
dtypes: bool(19), float64(3), int64(1), object(8)
memory usage: 139.5+ KB

### Drop NA Values

In [18]:
#NAN Summary
data_df.isna().sum()

IsNeutered                      0
SourceBreed                     0
Case_1                          0
Weight at suspected           127
Polydipsia mentioned_5          0
Polyuria mentioned_6            0
Polyphagia_7                    0
Vomiting_8                      0
Diarrhoea_9                     0
Potbelly/hepatomegaly_10        0
Weight_11                       0
Thin/dry skin_12                0
Alopecia_13                     0
Pruritus_14                     0
Muscle wastage/weakness_15      0
Lethargy_16                     0
Panting_17                      0
Neurological signs_18           0
Increased ALKP_19             504
Increased ALT/GGT/AST_20      598
USG <1.20_21                  706
Proteinuria_22                745
Heart rate_23                 746
Temperature_24                819
Hospitalised                    0
Hypertensive                    0
Insulin                         0
Hypothyroid                     0
Cruciate                        0
Age                             0
Sex                             0
dtype: int64

In [19]:
#Removal of columns with >50% NAN
del data_df['Heart rate_23']
del data_df['Temperature_24']
del data_df['USG <1.20_21']
del data_df['Proteinuria_22']

#Check df
data_df.head()

,IsNeutered,SourceBreed,Case_1,Weight at suspected,Polydipsia mentioned_5,Polyuria mentioned_6,Polyphagia_7,Vomiting_8,Diarrhoea_9,Potbelly/hepatomegaly_10,...,Neurological signs_18,Increased ALKP_19,Increased ALT/GGT/AST_20,Hospitalised,Hypertensive,Insulin,Hypothyroid,Cruciate,Age,Sex
PatientID,,,,,,,,,,,,,,,,,,,,,
1,True,Jack Russell Terrier,1,13.00,True,True,False,False,False,False,...,False,True,True,False,False,False,False,False,12,M
2,True,Bichon Frise,1,9.30,True,True,False,False,False,False,...,False,True,True,False,False,False,False,False,12,F
3,True,West Highland White Terrier,1,9.82,True,True,True,False,False,True,...,False,True,True,False,False,False,False,False,13,F
4,True,Cocker Spaniel,1,11.30,True,True,False,False,False,True,...,False,NaN,NaN,True,False,False,False,False,12,F
5,False,Crossbreed,1,9.30,True,True,False,False,True,True,...,False,True,True,False,False,False,False,False,9,F

### Rename columns

In [20]:
#Collect list of column names
column_names = data_df.columns.to_list()

#Check list
column_names

['IsNeutered',
 'SourceBreed',
 'Case_1',
 'Weight at suspected',
 'Polydipsia mentioned_5',
 'Polyuria mentioned_6',
 'Polyphagia_7',
 'Vomiting_8',
 'Diarrhoea_9',
 'Potbelly/hepatomegaly_10',
 'Weight_11',
 'Thin/dry skin_12',
 'Alopecia_13',
 'Pruritus_14',
 'Muscle wastage/weakness_15',
 'Lethargy_16',
 'Panting_17',
 'Neurological signs_18',
 'Increased ALKP_19',
 'Increased ALT/GGT/AST_20',
 'Hospitalised',
 'Hypertensive',
 'Insulin',
 'Hypothyroid',
 'Cruciate',
 'Age',
 'Sex']

In [21]:
#Create dictionary of column headings & renames
col_names = {
    'Case_1': 'Diagnosis',
    'SourceBreed': 'Breed',
    'Age': 'Age',
    'Sex': 'Sex',
    'IsNeutered': 'Neutered',
    'Weight_11': 'WeightChange',
    'Weight at suspected': 'Weight',
    'Hospitalised': 'Hospitalised',
    'Vomiting_8': 'Vomiting',
    'Diarrhoea_9': 'Diarrhoea',
    'Potbelly/hepatomegaly_10': 'Hepatomegaly',
    'Thin/dry skin_12': 'ThinDrySkin',
    'Alopecia_13': 'Alopecia',
    'Pruritus_14': 'Pruritus',
    'Muscle wastage/weakness_15': 'MuscleWastageWeakness',
    'Lethargy_16': 'Lethargy',
    'Panting_17': 'Panting',
    'Neurological signs_18': 'Neurological',
    'Polydipsia mentioned_5': 'Polydipsia',
    'Polyuria mentioned_6': 'Polyuria',
    'Polyphagia_7': 'Polyphagia',
    'Increased ALKP_19': 'IncreasedALKP',
    'Increased ALT/GGT/AST_20': 'IncreasedATL_GGT_AST',
    'Hypertensive': 'Hypertensive',
    'Insulin': 'LowBloodSugar',
    'Hypothyroid': 'Hypothyroid',
    'Cruciate': 'CruciateSurgery'
    }

#Rename columns
clean_df = data_df.rename(columns=col_names)

#Reorder Columns
clean_df = clean_df[col_names.values()]

#Check df
clean_df

,Diagnosis,Breed,Age,Sex,Neutered,WeightChange,Weight,Hospitalised,Vomiting,Diarrhoea,...,Neurological,Polydipsia,Polyuria,Polyphagia,IncreasedALKP,IncreasedATL_GGT_AST,Hypertensive,LowBloodSugar,Hypothyroid,CruciateSurgery
PatientID,,,,,,,,,,,,,,,,,,,,,
1,1,Jack Russell Terrier,12,M,True,No change,13.00,False,False,False,...,False,True,True,False,True,True,False,False,False,False
2,1,Bichon Frise,12,F,True,No change,9.30,False,False,False,...,False,True,True,False,True,True,False,False,False,False
3,1,West Highland White Terrier,13,F,True,No change,9.82,False,False,False,...,False,True,True,True,True,True,False,False,False,False
4,1,Cocker Spaniel,12,F,True,No change,11.30,True,False,False,...,False,True,True,False,NaN,NaN,False,False,False,False
5,1,Crossbreed,9,F,False,No change,9.30,False,False,True,...,False,True,True,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157,0,Crossbreed,15,F,True,No change,NaN,False,False,False,...,False,True,True,False,True,False,False,False,False,False
1158,0,Border Terrier,7,F,True,No change,9.42,True,False,False,...,False,True,True,False,NaN,NaN,False,False,False,False
1159,0,Staffordshire Bull Terrier,12,F,True,No change,23.00,False,False,False,...,False,True,True,False,NaN,NaN,False,False,False,False
1160,0,West Highland White Terrier,15,F,True,No change,9.40,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1161,0,Crossbreed,14,F,True,Weight loss,17.50,False,False,False,...,False,False,False,False,NaN,NaN,False,False,False,False

### Export CSV

In [22]:
#Export dataframe as CSV
clean_df.to_csv("canine_cushings_disease_clean.csv", index=True)